[submodule "2022-2023/软件组/邓佳杰_管理员/markdownNote"]
	path = 2022-2023/软件组/邓佳杰_管理员/markdownNote
	url = https://github.com/life-studied/markdowmnote.git
[submodule "2022-2023/软件组/李世华/项目/HHU-CProgramDesign"]
	path = 2022-2023/软件组/李世华/项目/HHU-CProgramDesign
	url = https://github.com/1erohua/HHU-CProgramDesign.git
[submodule "2022-2023/软件组/李世华/笔记/CsharpDesignPattern"]
	path = 2022-2023/软件组/李世华/笔记/CsharpDesignPattern
	url = https://github.com/1erohua/CsharpDesignPattern.git
